<html>
    <head>
        <link rel="stylesheet" href="/s/signup.css" type="text/css" />

    </head>
    <body>
        <div style="width: 415px; height: 246px">
            <form action="" method="post">
                <table>
                     <tr>
                        <td><strong> Nom : </strong></td>
                        <td><input type="text" name="name" required/></td>   
                    </tr>
                     <tr>
                        <td><strong> Prenom : </strong></td>
                        <td><input type="text" name="lastname" required/></td>   
                    </tr>
                    <tr>
                        <td><strong> Login : </strong></td>
                        <td><input type="text" name="login" required/></td>   
                    </tr>
                     <tr>
                        <td><strong>Mot de passe :</strong></td>
                        <td><input type="text" name="pass" required/></td>   
                    </tr>
                    <tr>
                        <td><strong>Confirmer le mot de passe :</strong></td>
                        <td><input type="text" name="pass1" required/></td>   
                    </tr>
                     <tr>
                        <td><strong>Couleur preferee:</strong></td>
                        <td><input type="text" name="couleur1" /></td>   
                    </tr>
                    <tr>
                        <td><strong>Couleur secondaire :</strong></td>
                        <td><input type="text" name="couleur2" /><br /></td>   
                    </tr>
                </table>
                <div style="text-align: left;">
                        <input type="submit" name="sign" value="Envoyer"/>
                </div>
              </form>
        </div>
    </body>
</html>